@charset "EUC-KR";

.ksj-icon-remove{
	font-size : 20px;
	color:red;
	background-color: white;
	border: 0px;
}

.ksj-icon-plus{
	font-size : 20px;
	color:blue;
	background-color: white;
	border: 0px;
}

.aTagRight {
	float: right;
}

.joinBody{
	margin-left: 20%;
	margin-right: 20%;
}

.idcheckMargin{
	margin-top : 15%;
	
}

.btnJoin{
	background-color: #FFA500;
	color: white;
}
.joinBotyInputMargin{
	margin-bottom: 2%
}

.joinPostBtn{
	width: 80%;
}

.divMargin{
	margin-top: 3%;
}