

/*	# TYPOGRAPHY / ELEMENTS
======================================================*/
html {
	font-size: 14px;
	font-weight: 100;
}
@media (max-width: 991px) {
	html {
		font-size: 13px;
	}
}
@media (max-width: 767px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 543px) {
	html {
		font-size: 11px;
	}
}
body {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.64285;
	color: #7b7c7d;
	background-color: #fff;
}
a {
	color: #629b1f;
	text-decoration: none;
}
a:focus,
a:hover {
	color: #629b1f;
	text-decoration: none;
}
a:focus {
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
button:focus {
	outline: 0;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1.1;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
	color: #629b1f;
}
h1, .h1 {
	font-size: 2.571rem;
}
h2, .h2 {
	font-size: 2.143rem;
}
h3, .h3 {
	font-size: 1.714rem;
}
h4, .h4 {
	font-size: 1.429rem;
}
h5, .h5 {
	font-size: 1.143rem;
}
h6, .h6 {
	font-size: 1rem;
}
p {
	margin-bottom: 1.5rem;
}
img {
	max-width: 100%;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn,
.td-topheader-tagline,
.td-user-button,
.navbar-nav,
.td-tour-search .nav-tabs,
.td-dl-nav,
.td-nav-filter,
.offer-banner,
.td-select-trip .form-group label,
.widget-inquire_now .widget-body .phone-number,
.td-timeline-panel-time,
.widget,
.comment-author-name,
.comment-date {
	font-family: 'Poppins', sans-serif;
}
.no-padding{
	padding: 0 !important;
}



/*	### Timeline */
.td-timeline-wrap {
	position: relative;
	max-width: 705px;
	margin: 0 auto;
}
.td-timeline {
	list-style: none;
	padding: 30px 0;
	position: relative;
}
.td-timeline:before {
	content: " ";
	top: 0;
	bottom: 0;
	position: absolute;
	width: 9px;
	background-color: #629b1f;
	left: 76.5px;
	border-radius: 5px;
}
.td-timeline > li {
	position: relative;
}
.td-timeline-badge {
	background-color: #629b1f;
	color: #fff;
	width: 72px;
	height: 72px;
	line-height: 72px;
	font-size: 16px;
	text-align: center;
	z-index: 100;
	border-radius: 50%;
	margin-left: 45px;
	position: relative;
}
.td-timeline-badge:before,
.td-timeline-badge:after {
	content: '';
	position: absolute;
	left: 50%;
	height: 20px;
	width: 9px;
	margin-left: -4.5px;
}
.td-timeline-badge:before {
	top: -20px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
}
.td-timeline-badge:after {
	bottom: -20px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );
}
.td-timeline-panel {
	margin: 20px 0;
}
.td-timeline-panel:after {
	content: " ";
	display: table;
	clear: both;
}
.td-timeline-panel-time {
	float: left;
	font-size: 1.143rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 20px;
}
.td-timeline-panel-time span {
	display: block;
}
.td-timeline-panel-bubble {
	border: 1px solid rgba(0,0,0,0.19);
	border-radius: 20px;
	padding: 1.786rem 1.786rem 1.786rem 4.571rem;
	position: relative;
	margin-left: 136px;
}
.td-timeline-panel-bubble:before,
.td-timeline-panel-bubble:after {
	content: '';
	display: inline-block;
	position: absolute;
}
.td-timeline-panel-bubble:before {
	left: -10px;
	top: 25px;
	border-top: 10px solid transparent;
	border-right: 10px solid rgba(0,0,0,0.19);
	border-bottom: 10px solid transparent;
}
.td-timeline-panel-bubble:after {
	left: -9px;
	top: 26px;
	border-top: 9px solid transparent;
	border-right: 9px solid #fff;
	border-bottom: 9px solid transparent;
}
.td-timeline-panel-bubble > i {
	font-size: 1.429rem;
	position: absolute;
	left: 25px;
}
.timeline-title {
	font-size: 0.9286rem;
	margin-bottom: 0;
	font-weight: 600;
}
.td-timeline-panel-bubble > p {
	margin-bottom: 0;
	margin-top: 0.7143rem;
	font-size: 0.8571rem;
	font-weight: 300;
	font-style: italic;
}
