<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace = "kr.or.kosta.koreaMaster.travel.route">

<!-- 생성 -->
<insert id="create" parameterType="Route">
	<selectKey keyProperty="no" order="BEFORE" resultType="int">
		SELECT route_seq.nextval as no FROM dual
	</selectKey>
	INSERT INTO route 
			(route_no, 
             spot_no, 
             next_route_no, 
             start_time, 
             end_time) 
	VALUES     (#{no},
	            #{spotNo},
	            #{nextRouteNo},
	           	TO_DATE(#{startTime, jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'),
	            TO_DATE(#{endTime, jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'))  
	            <!-- jdbcType을 지정해주면 null값을 넣을 수 있다 -->
	            
</insert>

<!-- 조회 -->
<select id="read" parameterType="int" resultType="Route">
	SELECT 	route_no		AS	"no", 
             spot_no		AS	"spotNo", 
             next_route_no	AS	"nextRouteNo", 
             start_time		AS	"startTime", 
             end_time		AS	"endTime"
	FROM   route
	WHERE  route_no = #{value}
</select>

<!-- 전체 조회 -->
<select id="listAll" resultType="Route">
	SELECT 	route_no		AS	"no", 
             spot_no		AS	"spotNo", 
             next_route_no	AS	"nextRouteNo", 
             start_time		AS	"startTime", 
             end_time		AS	"endTime"
	FROM   route
</select>

<!-- 수정 -->
<update id="update" parameterType="Route">
	UPDATE 	route
	SET 	spot_no = #{spotNo}, 
			next_route_no = #{nextRouteNo},
			start_time = TO_DATE(#{startTime, jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'),
			end_time = TO_DATE(#{endTime, jdbcType=DATE},'YYYYMMDDHH24MISS')
	WHERE route_no = #{no}
</update>

<!-- 나의 spot_no을 다음장소로 가지고 있는 행을 변경 나를 삭제 한다-->
<!-- 삭제 전 수행 할 것 -->
<update id="deleteUpdate" parameterType="int">
	<!-- 나의 spot_no을 다음장소로 가지고 있는 행을 변경 나를 삭제 한다-->
	UPDATE route 
	SET    next_route_no = (SELECT next_route_no 
	                        FROM   route 
	                        WHERE  route_no = #{value}) 
	WHERE  next_route_no = (SELECT spot_no 
	                        FROM   route 
	                        WHERE  route_no = #{value}) 
</update>

<!-- 업데이트 후 삭제 -->
<delete id="delete" parameterType="int">
	DELETE FROM route 
	WHERE  route_no = #{value}
</delete>

<!-- next_route_no에 따른 조회 -->
<select id="getByNext" parameterType="int" resultType="Route">
	SELECT 	route_no		AS	"no", 
             spot_no		AS	"spotNo", 
             next_route_no	AS	"nextRouteNo", 
             start_time		AS	"startTime", 
             end_time		AS	"endTime"
	FROM   route
	WHERE  next_route_no = #{value}
</select>

</mapper>