<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.koreaMaster.place.mapper.SidoMapper">
	
	<insert id="create" parameterType="Sido">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT sido_seq.nextval as no FROM DUAL
		</selectKey>
		INSERT INTO SIDO(SIDO_NO, SIDO_NAME)
		VALUES(#{no}, #{name})
	</insert>
		
	<select id="listAll" resultType="Sido">
		SELECT sido_no as "no", 
		       sido_name as "name"
		FROM   sido
	</select>
	
	<select id="read" parameterType="int" resultType="Sido">
		SELECT sido_no as "no", 
		       sido_name as "name"
		FROM   sido
		WHERE  sido_no = #{vlaue}
	</select>
	
	<select id="readByName" parameterType="string" resultType="Sido">
		SELECT sido_no as "no", 
		       sido_name as "name"
		FROM   sido
		WHERE  sido_name = #{vlaue}
	</select>
	
	<update id="update" parameterType="Sido">
		update sido
		set sido_name = #{name}
		where sido_no = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM Sido
		WHERE sido_no = #{value}
	</delete>

</mapper>