<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.koreaMaster.place.mapper.SigunguMapper">
	
	<insert id="create" parameterType="Sigungu">
		insert into Sigungu(city_no, sigun_name, gu_name, sido_num)
		values(sigungu_seq.nextval, #{sigunName}, #{guName}, #{sidoNum})
	</insert>
		
	<select id="listAll" resultType="Sigungu">
		SELECT city_no as "no", 
		       sigun_name as "sigunName",
		       gu_name as "guName",
		       sido_num as "sidoNum"
		FROM   Sigungu
	</select>
	
	<select id="read" parameterType="int" resultType="Sigungu">
		SELECT city_no as "no", 
		       sigun_name as "sigunName",
		       gu_name as "guName",
		       sido_num as "sidoNum"
		FROM   Sigungu
		WHERE  city_no = #{vlaue}
	</select>
	
	<update id="update" parameterType="Sigungu">
		update Sigungu
		set sigun_name = #{sigunName},
			gu_name = #{guName}
		where city_no = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM Sigungu
		WHERE city_no = #{value}
	</delete>
	
	<select id="readBySido" parameterType="int" resultType="Sigungu">
		 SELECT city_no as "no", 
		       sigun_name  as "sigunName",
		       gu_name as "guName"
		FROM   Sigungu
		WHERE  sido_num = #{value}
	</select>

</mapper>