<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.koreaMaster.place.mapper.SpotMapper">
	
	<insert id="create" parameterType="Spot">
		<selectKey resultType="int" keyProperty="no" order="BEFORE">
        	SELECT spot_seq.nextval FROM dual
    	</selectKey>
		INSERT INTO SPOT(
				SPOT_NO,
				CITY_NO,
				SPOT_NAME,
				SPOT_DETAIL,
				SPOT_ADDRESS_DETAIL,
				SPOT_OPERATING_HOUR,
				SPOT_CLOSED_DATE,
				SPOT_PHONE,
				SPOT_FARE,
				SPOT_HOMEPAGE,
				SPOT_PICTURE,
				SPOT_LATITUDE,
				SPOT_LONGITUDE,
				SPOT_USE_NUM
		)
		VALUES(
				#{no},
			  	#{cityNo},
			 	#{name},
			  	#{detail},
			 	#{addressDetail},
			  	#{operatingHour},
			  	#{closedDate},
			  	#{phone},
			  	#{fare},
			 	#{homepage},
			  	#{picture},
			  	#{latitude},
			  	#{longitude},
			  	#{useNum}
		)
	</insert>
		
	<select id="listAll" resultType="Spot">
		SELECT spot_no as "no", 
		       city_no as "cityNo", 
		       spot_name as "name", 
		       spot_detail as "detail", 
		       spot_address_detail as "addressDetail", 
		       spot_operating_hour as "operatingHour", 
		       spot_closed_date as "closedDate", 
		       spot_phone as "phone", 
		       spot_fare as "fare", 
		       spot_homepage as "homepage", 
		       spot_picture as "picture", 
		       spot_latitude as "latitude", 
		       spot_longitude as "longitude", 
		       spot_use_num   as "useNum"
		FROM   spot
	</select>
	
	<select id="listPage" parameterType="int" resultType="Spot">
		SELECT spot_no             AS "no", 
		       city_no             AS "cityNo", 
		       spot_name           AS "name", 
		       spot_detail         AS "detail", 
		       spot_picture        AS "picture", 
		       spot_use_num        AS "useNum" 
		FROM   (SELECT CEIL(ROWNUM / 16) request_page,
		               spot_no,
		               city_no,
		               spot_name,
		               spot_detail,
		               spot_picture,
		               spot_use_num
		        from spot)
		where request_page = #{value}
		order by spot_use_num asc
	</select>
	
	<select id="read" parameterType="int" resultType="Spot">
		SELECT spot_no as "no", 
		       city_no as "cityNo", 
		       spot_name as "name", 
		       spot_detail as "detail", 
		       spot_address_detail as "addressDetail", 
		       spot_operating_hour as "operatingHour", 
		       spot_closed_date as "closedDate", 
		       spot_phone as "phone", 
		       spot_fare as "fare", 
		       spot_homepage as "homepage", 
		       spot_picture as "picture", 
		       spot_latitude as "latitude", 
		       spot_longitude as "longitude", 
		       spot_use_num   as "useNum"
		FROM   spot
		WHERE  spot_no = #{vlaue}
	</select>
	
	<select id="getSpotByCity" parameterType="int" resultType="int">
		SELECT spot_no as "no" 
		FROM   spot
		WHERE  city_no = #{value}
	</select>
	
	<select id="readByNameCity" parameterType="map" resultType="Spot">
		SELECT spot_no as "no", 
		       city_no as "cityNo", 
		       spot_name as "name", 
		       spot_detail as "detail", 
		       spot_address_detail as "addressDetail", 
		       spot_operating_hour as "operatingHour", 
		       spot_closed_date as "closedDate", 
		       spot_phone as "phone", 
		       spot_fare as "fare", 
		       spot_homepage as "homepage", 
		       spot_picture as "picture", 
		       spot_latitude as "latitude", 
		       spot_longitude as "longitude", 
		       spot_use_num   as "useNum"
		FROM   spot
		WHERE  spot_name = #{name} and city_no = #{cityNo}
	</select>
	
	<update id="update" parameterType="kr.or.koreaMaster.place.domain.Spot">
		UPDATE 	spot
		SET 	SPOT_DETAIL = #{detail} ,
				SPOT_ADDRESS_DETAIL = #{addressDetail},
				SPOT_OPERATING_HOUR = #{operatingHour},
				SPOT_CLOSED_DATE = #{closedDate},
				SPOT_PHONE = #{phone},
				SPOT_FARE = #{fare},
				SPOT_HOMEPAGE = #{homepage},
				SPOT_LATITUDE = #{latitude},
				SPOT_LONGITUDE = #{longitude}
		WHERE 	SPOT_NO = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM SPOT
		WHERE spot_no = #{value}
	</delete>

</mapper>