<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mapper.TripNoteMapper">
 	
 	
 <select id="getTripNote" parameterType="String" resultType="String">
 	SELECT trip.trip_name
 	FROM trip, trip_note
 	WHERE trip.trip_no = trip_note.trip_no AND trip_note.users_id = #{value}
 </select>
 </mapper>