<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mapper.TripNoteMapper">
 	
 	
 <select id="getTripNote" parameterType="String" resultType="noteList">
SELECT trip.trip_name tripName, trip_note.trip_note_no tripNoteNo, (trip_note.trip_note_end_date - trip_note.trip_note_start_date + 1) as day,
        (trip_note.trip_note_end_date - trip_note.trip_note_start_date) as night
FROM trip, trip_note
WHERE trip.trip_no = trip_note.trip_no AND trip_note.users_id = #{value}
 </select>
 
 <select id="delTripNote" parameterType="hashmap" resultType="int">
DELETE from trip_note
WHERE trip_no = #{noteNo} and users_id = #{id}
 </select>
 
 <select id="delTrip" parameterType="hashmap" resultType="int">
DELETE from trip
WHERE trip_no = #{noteNo}
 </select>
 
 <select id="noteDetail" parameterType="hashmap" resultType="noteDetail">
  SELECT route.route_no, route.START_TIME, route.END_TIME, spot.spot_no, spot.spot_name, spot.spot_detail, spot.spot_picture
  FROM route, spot,
      ( SELECT small_trip.route_no as route_no
        FROM small_trip, 
        ( SELECT trip.trip_no as trip_no, trip.trip_start_date, trip.trip_end_date
          FROM trip
          WHERE trip.trip_no IN ( SELECT trip_note.trip_no
          FROM trip_note
          WHERE trip_note.users_id = #{id} and trip_note.trip_no = #{noteNo} ) ) bb
          WHERE small_trip.trip_no IN bb.trip_no
          ORDER BY small_trip.day_no ) aa
  WHERE route.route_no IN aa.route_no AND route.spot_no IN spot.spot_no
 </select>
 
 <insert id="create" parameterType="note">
 	<selectKey keyProperty="tripNoteNo" order="BEFORE" resultType="int">
 		SELECT trip_note_seq.nextval FROM DUAL
 	</selectKey>
 	INSERT INTO trip_note
 						(trip_note_no, 
 						trip_note_name,
 						trip_note_detail, 
 						trip_note_start_date, 
 						trip_note_end_date, 
 						users_id, 
 						trip_no)
 	VALUES (trip_note_seq.nextval,
 			#{tripNoteName},
 			#{tripNoteDetail},
 			To_date(#{tripNoteStartDate, jdbcType=DATE}, 'YYYY-MM-DD HH24:MI:SS'), 
	        To_date(#{tripNoteEndDate, jdbcType=DATE}, 'YYYY-MM-DD HH24:MI:SS'),
 			#{usersId},
 			#{tripNo}
 			)
 </insert>
 </mapper>