<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.koreaMaster.theme.mapper.UsersThemeMapper">
	
	<insert id="create" parameterType="UsersTheme">
		insert into users_theme
		values ( #{usersID}, #{themeNo}, #{score})
	</insert>
		
	<select id="listAll" resultType="UsersTheme">
		SELECT users_id, 
		       theme_no,
		       score
		FROM   users_theme
	</select>
	
	<select id="read" parameterType="String" resultType="UsersTheme">
		SELECT users_id,
		       theme_no,
		       score
		FROM   users_theme
		WHERE  id = #{value}
	</select>
	
	<select id="getNoByScore" parameterType="int" resultType="int">
		SELECT theme_no
		FROM   users_theme
		WHERE  score = #{value}
	</select>
	
	<update id="update" parameterType="UsersTheme">
		
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users_theme
		WHERE users_id = #{value}
	</delete>

</mapper>