<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mapper.UserMapper">
 
<!-- 사용자 회원가입 -->
 <insert id="insertUser" parameterType="user">
 	INSERT INTO users
 	VALUES(#{usersId}, #{usersName}, #{usersPassword}, #{usersTelephone}, #{usersEmail}, #{usersPostcode}, #{usersAddress}, #{usersAddressDetail}, sysdate, 'N', null)
 </insert>
 
 <select id="selectUser" parameterType="hashmap" resultType="user">
 	SELECT *
 	FROM users
 	WHERE users_id = #{usersId} AND users_password = #{usersPassword}
 </select>
 
 </mapper>