<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mapper.UserMapper">
 
<!-- 사용자 회원가입 -->
 <insert id="insertUser" parameterType="user">
 	INSERT INTO users
 	VALUES(#{usersId}, #{usersName}, #{usersPassword}, #{usersTelephone}, #{usersEmail}, #{usersPostcode}, #{usersAddress}, #{usersAddressDetail}, sysdate, 'N', #{usersPicture})
 </insert>
 
 <select id="selectUser" parameterType="hashmap" resultType="user">
 	SELECT *
 	FROM users
 	<where>
 		users_id = #{usersId}
 		<if test="usersPassword != null">
 			AND users_password = #{usersPassword}
 		</if>
 	</where>
 </select>
 
 <select id="idCheck" parameterType="string" resultType="user">
 	SELECT *
 	FROM users
 	WHERE USERS_ID = #{value}
 </select>
 
 </mapper>