<?xml version="1.0" encoding="UTF-8"?>
<beans>	
	<!-- sido, sigungu 세부컨트롤러 등록 -->
	<bean name="/sido" class="kr.or.koreaMaster.place.controller.SidoListController"/>
	<bean name="/sigungu" class="kr.or.koreaMaster.place.controller.SigunguController"/>
	
		<!-- spot 세부컨트롤러 -->
	<bean name="/spotPage" class="kr.or.koreaMaster.place.controller.SpotListController"/>
	<bean name="/restaurantPage" class="kr.or.koreaMaster.place.controller.RestaurantListController"/>
	<bean name="/spotDetail" class="kr.or.koreaMaster.place.controller.SpotDetailController"/>
	<bean name="/restaurantDetail" class="kr.or.koreaMaster.place.controller.RestaurantDetailController"/>
	
	<!-- Travel 세부컨트롤러 등록 -->
	<bean name="/route" class="kr.or.koreaMaster.travel.controller.RouteController"/>
	<bean name="/trip" class="kr.or.koreaMaster.travel.controller.TripController"/>
	<bean name="/tripList" class="kr.or.koreaMaster.travel.controller.TripListController"/>
	
</beans>